<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Super Rentals</h2>
  <p>
    The Super Rentals website is a delightful project to explore and learn ember by building a property rental site. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vel minima nulla aliquam inventore dolorum architecto dolorem quia cumque dolores quas cupiditate hic animi, magni harum deserunt doloribus quisquam dignissimos!
  </p>
  {{#link-to "contact" class="button"}}
    Contact Us
  {{/link-to}}
</div>
{{outlet}}