<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>
    Super Rentals Reps wouuld love to help you <br>
    find a destination or answer any questions that may arise
  </p>
  <address>
    Super Rentals HQ
    <p>
      100 Main Street<br>
      Charlotte, NC 28201
    </p>
    <a href="tel:555.555.1212">555-555-1212</a>
    <a href="mailto:superrentals@superrentals.com">email</a>
  </address>
  {{#link-to "about" class="button"}}
    About
  {{/link-to}}
</div>
{{outlet}}